.protagonist-section {
    height: 100%;
    max-height: 210vw;
    position: relative;
    margin: 0 0 10rem 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.protagonist-section .protagonist-tab {
    position: relative;
    box-sizing: border-box;
}

.protagonist-section .protagonist-tab .tab {
    width: 100%;
    height: auto;
    max-height: 50vh;
}
