.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    &.fade-in {
        animation-delay: 1.2s;
        animation-duration: 2s;
    }

    .leftbar-btn {
        position: absolute;
        left: 0;
    }
}