.header-top {
    position: fixed;
    background-color: #ffffffe8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    z-index: 1;
    box-shadow: 0px 7px 26px -5px rgba(0, 0, 0, 0.04);

    &.fade-in {
        animation-delay: 1.2s;
        animation-duration: 2s;
    }

    .header-section {
        height: 100%;
    }

    .left {
        display: flex;
        width: 33%;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;

        .logo {
            max-width: 64px;
            max-height: 64px;
        }
    }

    .right {
        width: 33%;
    }

    .leftbar-btn {
        display: flex;
        align-items: center;
    }
}
