.floaty-demo .demo-box {
    width: 8vw;
    height: 8vw;
    border-radius: 4px;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.dynamic-letters .floaty-demo {
    display: flex;
    margin: 1rem;
}

.floaty-demo .x-box {
    animation-name: floaty-letter-x;
}

.floaty-demo .y-box {
    animation-name: floaty-letter-y;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floaty-demo .letter-box {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}