.leftbar {
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 50%;
    z-index: 2;
    background-color: darkcyan;
    color: white;

    .leftbar-btn {
        margin: 1em;
        position: absolute;
        top: 0;
        right: 0;
    }

    .leftbar-content {
        width: 100%;
        height: 50%;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .divider {
            background-color: white;
            width: 30%;
            height: 5px;
        }

        .links {
            margin: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .link {
        margin-top: 0.5em;
        color: white;
    }

    .header {
    }
}