.leftbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: white;
    clip-path: circle(2em at 3.3em 3em);
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    &.open {
        clip-path: circle(100%);
        background-color: darkcyan;
    }

    .leftbar-btn {
        margin: 1.8em;
        position: absolute;
        top: 0;
        left: 0;
        fill: black;

        &.open {
            fill: white;
        }
    }

    .leftbar-content {
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        visibility: hidden;

        @media (min-width: 1600px) {
            h3 {
                font-size: 10em;
            }
        }

        .logo {
            width: 200px;
            height: 200px;
        }

        .divider {
            margin: 1em;
            background-color: white;
            width: 30%;
            height: 5px;
        }

        .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &.open .leftbar-content {
        visibility: visible;
    }

    .link {
        margin-top: 0.5em;
        color: white;
        font-size: 1.5em;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.3);
        }
    }
}
