
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-banner {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.about {
    margin: 3rem
}
