
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-banner {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    position: relative;
}

.about {
    margin: 2rem 0;
    animation: moveUp 2s ease 0s, fadeIn 4s ease 0s;
}

.bee-move {
    animation: bee-move 2s ease infinite;
}

@keyframes bee-move {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0%);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateX(0);
    }
}
