
.section-about {    
    .about-me {
        cursor: default;
        position: relative;
        background-color: #562f87;
        color: white;
        display: flex;
        overflow: hidden;

        .left {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            display: flex;

            .header {
                padding: 1em 0.5em 0.5em;
                text-align: center;
            }

            .bio {
                padding: 0 2em;
            }

            .links {
                display: flex;
                width: 100%;
                justify-content: center;
                padding: 1em;

                a {
                    margin: 0 0.5em;
                }

                .logo {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        .right {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 600px) {
        .about-me {
            flex-wrap: wrap;
        }
    }
}

.welcome-banner {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.about {
    margin: 2rem 0;
    animation: moveUp 2s ease 0s, fadeIn 4s ease 0s;
}

@keyframes moveUp {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateX(0);
    }
}
