
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-banner {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.about {
    margin: 2rem 3rem;
    max-width: 600px;
    animation: moveUp 2s ease 0s, fadeIn 4s ease 0s;
}

@keyframes moveUp {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateX(0);
    }
}
