.logo-robot {
    animation-name: robot-rotate;
    animation-timing-function: cubic-bezier(0.18, 0, 0, 0.98);
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    overflow: visible;
    transform: rotate(-90deg);

    .robot-eyes {
        animation-name: open-eyes;
        animation-duration: 0.2s;
        animation-timing-function: cubic-bezier(0.18, 0, 0, 0.98);
        animation-iteration-count: 1;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .logo-letter {
        animation-timing-function: cubic-bezier(0.18, 0, 0, 0.98);
        animation-delay: 1s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .logo-o {
        animation-name: o-trans;
        transform: translateY(-25%);
    }

    .logo-d {
        animation-name: d-trans;
        transform: translateY(25%);
    }
}
