.protagonist-section .logo {
    animation-name: logo-rotate-out;
    animation-timing-function: cubic-bezier(0.18, 0, 0, 0.98);
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .75s;
    overflow: visible;
    transform: rotate(-90deg);

    .robot-eyes {
        animation-name: open-eyes-out;
        animation-duration: 0.2s;
        animation-timing-function: cubic-bezier(0.18, 0, 0, 0.98);
        animation-iteration-count: 1;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .logo-letter {
        animation-timing-function: cubic-bezier(0.18, 0, 0, 0.98);
        animation-delay: .5s;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .logo-o {
        animation-name: o-trans;
        transform: translateY(5%);
    }

    .logo-c {
        animation-name: mini-logo-c-trans-out;
        transform: translateY(25%);
    }

    .logo-line {
        animation-name: logo-line-out;
        animation-delay: 1.5s;
        animation-duration: .2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        opacity: 0;
    }

    .logo-d {
        animation-name: d-trans;
        transform: translateY(25%);
        opacity: 0;
        animation-delay: 1s;
    }
}
