#ocd-logo {
  fill: transparent;
  border-radius: 10%;
  animation: moveDown 2s ease;
}

.logo-main {
  stroke: #2F2F32;
  animation: fill-logo 0.3s ease forwards 1.3s;
}

.logo-middle {
  stroke: #BFC4BD;
  fill: #BFC4BD;
}

.logo-back {
  stroke: #4E4A3C;
  fill: #4E4A3C;
}

#ocd-logo g:nth-child(3) path:nth-child(1) {
  stroke-dasharray: 303.005126953125;
  stroke-dashoffset: 303.005126953125;
  animation: line-anim 2s ease forwards 0s;
}

#ocd-logo g:nth-child(3) path:nth-child(2) {
  stroke-dasharray: 239.4483184814453;
  stroke-dashoffset: 239.4483184814453;
  animation: line-anim 1s ease forwards 0.3s;
}

#ocd-logo g:nth-child(3) path:nth-child(3) {
  stroke-dasharray: 291.34039306640625;
  stroke-dashoffset: 291.34039306640625;
  animation: line-anim 2s ease forwards 0.3s;
}

#ocd-logo g:nth-child(1) {
  animation: stroke-logo-red 0.3s ease forwards 1.9s;
}

#ocd-logo g:nth-child(2) {
  animation: stroke-logo-blue 0.3s ease forwards 1.6s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill: transparent;
  }
  to {
    fill: #2F2F32;
  }
}

@keyframes stroke-logo-red {
  from {
    stroke-opacity: 0;
    fill-opacity: 0;
  }
  to {
    stroke-opacity: 1;
    fill-opacity: 1;
  }
}

@keyframes stroke-logo-blue {
  from {
    stroke-opacity: 0;
    fill-opacity: 0;
  }
  to {
    stroke-opacity: 1;
    fill-opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}