.work {
    margin: 15vh 0 15vh;
}

.section-work {
    color: white;
    display: flex;
    flex-wrap: wrap;

    .work-place {
        flex: 1 0 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        transition: all 0.2s ease-in-out;
        padding: 1em;

        &:hover {
            padding: 2em;
        }

        .logo {
            width: 200px;
        }

        p {
            text-align: center;
            max-width: 300px;
        }

        h2 {
            padding: 1em;
        }

        &.ictech {
            background-color: #562f87;
        }

        &.wireless-car {
            background-color: #58c7fc;
        }

        &.tibco {
            background-color: #222;
            grid-column-start: 1;
            grid-column-end: span 2;
        }
    }
}