@keyframes mini-logo-o-trans-in {
    from {
        transform: translateY(-9%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mini-logo-o-trans-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-9%);
    }
}

@keyframes mini-logo-d-trans {
    from {
        transform: translateY(3%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes open-eyes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes robot-rotate {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes o-trans {
    from {
        transform: translateY(-25%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes d-trans {
    from {
        transform: translateY(25%);
    }
    to {
        transform: translateY(0);
    }
}
