.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 900px;
}

.content {
  position: relative;
  padding: 4rem;
  box-sizing: border-box;
  width: 100%;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}