.app {
  width: 100%;
  height: 100%;
}

.section {
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 240px auto 0;
  padding: 40px;
}

.main {
  width: 100%;
  max-width: 900px;
}

.content {
  position: relative;
  padding: 4rem;
  box-sizing: border-box;
  width: 100%;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}