.app {
  width: 100%;
}

.body {
  position: relative;
  margin: 2rem;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}