.app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .content {
    position: relative;
    padding: 7em 4em 4em 4em;
    width: 100%;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    .article {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        max-width: 700px;
        padding: 0em 2em;
        margin: 1em 0;
      }

      h2 {
        padding-bottom: 3rem;
      }

      .article-header {
        text-align: center;
      }

      .seperator {
        width: 30%;
        background-color: #1c2841;
        height: 5px;
        margin: 2em 0;
      }

      .side-note {
        font-size: 1em;
      }
    }

    .section {
      p {
        padding: 0 1em;
      }
    }

    .article,
    .section {
      width: 100%;
      max-width: 1280px;
      box-sizing: border-box;
      overflow: visible;

      .section-header {
        flex: 100%;
        margin-bottom: -0.227em;
        z-index: 10;
      }

      .section-hover {
        transition: all ease-in-out 0.2s;
        &:hover {
          transform: scale(1.05, 1.05);
          border-radius: 32px;
        }
      }

      .section-content {
        border-radius: 8px;
        width: 100%;
        cursor: pointer;

        .dash {
          background-color: white;
          height: 4px;
          width: 10%;
          transition-duration: 0.2s;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .content {
      padding: 7em 2em 4em 1em;
    }
  }
}

.grid-items {
  display: flex;
  flex-flow: row wrap;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 60px;
  box-sizing: border-box;
  text-align: center;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.18, 0, 0, 0.98);
  opacity: 0;
  animation-fill-mode: forwards;
}
