html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Exo 2", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #fcf7ed;
  color: black;
  height: 100%;
  position: relative;
}

p {
  font-size: larger;
}

h1 {
  font-size: 18vw;
  font-weight: 100;
  margin: 0;
  cursor: default;
}

h2 {
  margin: 0;
  font-weight: 100;
  font-size: 14vw;
  cursor: default;
}

h3 {
  margin: 0;
  font-weight: 100;
  font-size: 10vw;
  cursor: default;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}