.article {
    .show-box {
        padding: 2em;
        font-size: 2.5em;
        background-color: dimgray;
        border-radius: 16px;
        color: white;
        margin: 2em 0;
    }
}

.dynamic-letters {
    .floaty-letters-header {
        font-size: 4em;
    }
    .settings {
        font-size: 1.5rem;
    }

    .dynamic-text-input {
        font-size: 1.5rem;
        border-radius: 4px;
        padding: 8px;
        border-width: 0;
        margin: 1rem 0;
        outline: none;
    }

    .title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
}

.floaty-demo .slow-box {
    animation-duration: 0.651s;
}
